<div class="center-align">
	<canvas id="logo-canvas"></canvas>
</div>

<p>
	LottaNotes is a private journaling application designed to separate your thoughts from other eyes. The design was conceptualized to fill a need and it does so in simplistic fashion. We really hope you enjoy using your new application.
</p>

<div class="col s12 center-align">

	<h5 style="margin-bottom: 1rem;">Vibration Patterns</h5>

	<button type="button" name="button" style="margin-bottom: 1rem;" class="btn btn-small light-blue darken-1" ng-click="onDefault();">Default</button>
	<br>
	<button type="button" name="button" style="margin-bottom: 1rem;" class="btn btn-small green darken-2" ng-click="onSuccess();">Success</button>
	<br>
	<button type="button" name="button" class="btn btn-small red darken-3" ng-click="onError();">Error</button>

</div>
